* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

.contactos {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #ccc;
    padding: 20px;
}

.usuario-estatus {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.usuario-estatus img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.lista-contactos {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto; /* Permite scroll si hay muchos contactos */
}

.contacto {
    display: flex;
    align-items: center; /* Alinea verticalmente la imagen y la info */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.contacto .fa-envelope{
    color:#6200EE
}

.contacto:hover {
    background-color: #f7f7f7; /* Cambio de color al pasar el ratón */
}

.contacto img {
    width: 50px; /* Ajusta según necesidad */
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.nuevo-chat {
    background-color: #6200EE;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 80%; /* Ajusta el ancho del botón a la columna de contactos */
    align-self: center; /* Centra el botón en la columna */
}

.seccion-principal {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.centro {
    padding: 20px;
}

.centro img {
    margin-bottom: 20px;
    width: 100px;
}

.netw {
    font-size: 50px;
}

.centro img{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.iconos-estatus .fa-circle {
    color: green;
}

.iconos-estatus{
    display: flex;
}

.linea{
    margin-left: 10px;
}

.ultimo-mensaje{
    margin-left: 10px;
}

.info-contacto {
    flex-grow: 1; /* Permite que el contenedor de texto ocupe el espacio restante */
    display: flex;
    flex-direction: column; /* Organiza el contenido en columna */
}

.nombre-contacto {
    font-weight: bold; /* Opcional: Resalta el nombre */
    margin-bottom: 5px; /* Espacio entre el nombre y el mensaje */
}

.fas.fa-envelope {
    align-self: flex-end; /* Alinea el ícono de mensaje no leído al final de la info */
    margin-left: auto; /* Empuja el ícono a la derecha */
    margin-bottom: 5px; /* Espacio entre el ícono y el mensaje */
}